@import url('https://fonts.googleapis.com/css?family=Amatica+SC|Josefin+Sans');

html {
	background-image: url("swirl_pattern.png");
	font-size: 16px;
	height: 100vh;
}

body {
	margin: 0;
	margin-top: 50.8px;
	padding: 0;
}

 /* 
 _   _    ___     ______    _    ____  
| \ | |  / \ \   / / __ )  / \  |  _ \ 
|  \| | / _ \ \ / /|  _ \ / _ \ | |_) |
| |\  |/ ___ \ V / | |_) / ___ \|  _ < 
|_| \_/_/   \_\_/  |____/_/   \_\_| \_\ 
*/

/* Only applies to homepage*/
.navi.mainOnly {
	height: 100vh;
	position: static;
}

#logo {
	padding: 30vh;
	padding-bottom: 0;
}

.navi.mainOnly .navlinks__container {
	padding-top: 20vh;
}

/* Applies to all pages */

.navi {
	margin: 0;
	padding: 0;
	width: 100vw;
	transition: all 0.5s ease;

	position: fixed;
	top: 0;
	left: 0;

	background-image: url("swirl_pattern.png");

}

#logo img {
	display: block;
	margin: auto;
}

.navi ul {
	padding-bottom: .3rem;
	margin: 0;
	list-style-type: none;
	align: center;
	text-align: center;
}

.navi ul li {
	display: inline-block;
}

.navi ul li a {

	padding-left: 4vw;
	padding-right: 4vw;
	padding-bottom: .3rem;

	color: #9DBEBB;
	text-decoration: none;
	font-size: 2rem;

	opacity: 100%;
	transition: all 1s;
}

.navi ul li a:hover {
	color: #F4E9CD;
	background-color: rgba(157, 190, 187, 0.75);
	opacity: 50%;
}


.navi ul li a:active {
	color: #77ACA2;
}

/*
 __  __    _    ___ _   _   ____   _    ____ _____ 
|  \/  |  / \  |_ _| \ | | |  _ \ / \  / ___| ____|
| |\/| | / _ \  | ||  \| | | |_) / _ \| |  _|  _|  
| |  | |/ ___ \ | || |\  | |  __/ ___ \ |_| | |___ 
|_|  |_/_/   \_\___|_| \_| |_| /_/   \_\____|_____|
                                                   */

main {
	background-color: #468189;
	color: #F4E9CD;
}

article {
	background-color: #F4E9CD;
	color: #595959;
}

h1 {
	margin: 0;
	font-size: 3rem;
	padding: 1rem;
}

.game {
	background: #77ACA2;
	color: #595959;
}

.htext {
	font-family: 'Amatica SC', cursive;
	text-align: center;
}

.btext {
	font-family: 'Josefin Sans', cursive;
	font-size: 1.25rem;
}