@import url('https://fonts.googleapis.com/css?family=Amatica+SC|Josefin+Sans|Fredericka+the+Great|Josefin+Slab');

html {
	font-size: 16px;
	background-image: url("swirl_pattern.png"); /* background picture obtained through subtlepatterns.com */
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

/*
 /$$   /$$  /$$$$$$  /$$      /$$ /$$$$$$$$       /$$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$$
| $$  | $$ /$$__  $$| $$$    /$$$| $$_____/      | $$__  $$ /$$__  $$ /$$__  $$| $$_____/
| $$  | $$| $$  \ $$| $$$$  /$$$$| $$            | $$  \ $$| $$  \ $$| $$  \__/| $$      
| $$$$$$$$| $$  | $$| $$ $$/$$ $$| $$$$$         | $$$$$$$/| $$$$$$$$| $$ /$$$$| $$$$$   
| $$__  $$| $$  | $$| $$  $$$| $$| $$__/         | $$____/ | $$__  $$| $$|_  $$| $$__/   
| $$  | $$| $$  | $$| $$\  $ | $$| $$            | $$      | $$  | $$| $$  \ $$| $$      
| $$  | $$|  $$$$$$/| $$ \/  | $$| $$$$$$$$      | $$      | $$  | $$|  $$$$$$/| $$$$$$$$
|__/  |__/ \______/ |__/     |__/|________/      |__/      |__/  |__/ \______/ |________/
*/

#logo {
	padding-top: 20vh;
	padding-bottom: 10vh;
}

#logo img {
	display: block;
	margin: auto;

	height: 35vh;
	width: 35w;
}

#hr__container {
	margin: 0 auto;
	text-align: center;
}

#hr__dummy {
	/*position: absolute;
	top: 50%;
	transform: translate(0, -50%);*/

	margin: 0 auto;
	padding: 0;
	vertical-align: center;
	width: 30vw;
	background-color: #ffffff;
	height: 2px;
}

#hr__container ul {
	padding: 0;
	margin: 0;

	list-style-type: none;
}

#hr__container ul li {
	display: inline-block;
	vertical-align: middle;
}

#hr__dummy-right {
	/*position: absolute;
	top: 50%;
	left: 50%;
	float: left;
	transform: translate(66.5%, -50%);
*/
	margin: 0;
	padding: 0;

	width: 30vw;
	background-color: #ffffff;
	height: 2px;
}

#title {
	/*position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);*/
	margin-left: .5vw;
	margin-right: .5vw;

	font-size: 5vw;
	color: #F4E9CD;
}

#descript {
	margin: 0 auto;
	margin-top: 5vh;
	width: 45vw;

	text-align: center;
	color: #9DBEBB;
}

 /* 
 /$$   /$$  /$$$$$$  /$$    /$$ /$$$$$$$   /$$$$$$  /$$$$$$$ 
| $$$ | $$ /$$__  $$| $$   | $$| $$__  $$ /$$__  $$| $$__  $$
| $$$$| $$| $$  \ $$| $$   | $$| $$  \ $$| $$  \ $$| $$  \ $$
| $$ $$ $$| $$$$$$$$|  $$ / $$/| $$$$$$$ | $$$$$$$$| $$$$$$$/
| $$  $$$$| $$__  $$ \  $$ $$/ | $$__  $$| $$__  $$| $$__  $$
| $$\  $$$| $$  | $$  \  $$$/  | $$  \ $$| $$  | $$| $$  \ $$
| $$ \  $$| $$  | $$   \  $/   | $$$$$$$/| $$  | $$| $$  | $$
|__/  \__/|__/  |__/    \_/    |_______/ |__/  |__/|__/  |__/
*/

.navi {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	width: 100vw;
	transition: all 0.5s ease;

	position: fixed;
	top: 0;
	left: 0;

	background-image: url("broken_noise.png");

	box-shadow: 0px 5px 1px #01070B;

}

.navi ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	align: center;
	text-align: center;
}

.navi ul li {
	display: inline-block;
}

.navi ul li a {
	font-family: 'Fredericka the Great', cursive;

	padding-left: 4vw;
	padding-right: 4vw;

	color: #9DBEBB;
	text-decoration: none;
	font-size: 2rem;

	opacity: 100%;
	transition: all 1s;
}

.navi ul li a:hover {
	color: #F4E9CD;
	background-color: rgba(157, 190, 187, 0.75);
	opacity: 50%;
}


.navi ul li a:active {
	color: #77ACA2;
}

/*
  /$$$$$$  /$$$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$  /$$$$$$  /$$$$$$ 
 /$$__  $$| $$_____/| $$$ | $$| $$_____/| $$__  $$|_  $$_/ /$$__  $$
| $$  \__/| $$      | $$$$| $$| $$      | $$  \ $$  | $$  | $$  \__/
| $$ /$$$$| $$$$$   | $$ $$ $$| $$$$$   | $$$$$$$/  | $$  | $$      
| $$|_  $$| $$__/   | $$  $$$$| $$__/   | $$__  $$  | $$  | $$      
| $$  \ $$| $$      | $$\  $$$| $$      | $$  \ $$  | $$  | $$    $$
|  $$$$$$/| $$$$$$$$| $$ \  $$| $$$$$$$$| $$  | $$ /$$$$$$|  $$$$$$/
 \______/ |________/|__/  \__/|________/|__/  |__/|______/ \______/ 
                                                   */

main {
	margin-top: 49px;
	padding-bottom: 50px;
	background-color: #468189;
	color: #F4E9CD;
}

article {
	background-color: #F4E9CD;
	color: #595959;
}

h1 {
	margin: 0;
	font-size: 3rem;
	padding: 1rem;
}

.game {
	background: #77ACA2;
	color: #595959;
}

.htext {
	font-family: 'Josefin Slab', cursive;
	text-align: center;
}

.btext {
	font-family: 'Josefin Sans', cursive;
	font-size: 1.25rem;
}


/*
  /$$$$$$  /$$$$$$$  /$$$$$$ /$$$$$$$         /$$$$$$  /$$     /$$ /$$$$$$ 
 /$$__  $$| $$__  $$|_  $$_/| $$__  $$       /$$__  $$|  $$   /$$//$$__  $$
| $$  \__/| $$  \ $$  | $$  | $$  \ $$      | $$  \__/ \  $$ /$$/| $$  \__/
| $$ /$$$$| $$$$$$$/  | $$  | $$  | $$      |  $$$$$$   \  $$$$/ |  $$$$$$ 
| $$|_  $$| $$__  $$  | $$  | $$  | $$       \____  $$   \  $$/   \____  $$
| $$  \ $$| $$  \ $$  | $$  | $$  | $$       /$$  \ $$    | $$    /$$  \ $$
|  $$$$$$/| $$  | $$ /$$$$$$| $$$$$$$/      |  $$$$$$/    | $$   |  $$$$$$/
 \______/ |__/  |__/|______/|_______/        \______/     |__/    \______/ 
                                                             */

.row {
	clear: both;
	margin: 0 auto;
	width: 840px;
	overflow: auto;
}

.profile__link {
	margin: 10px;
	float: left;
	position: relative;

	/*a href was leaving 3px padding @ the bottom and I'm obsessive so this fixes it*/
	line-height: 0;
}